page-home {
      .floating-searchbar {
        position: absolute; 
        top: 0px; 
        z-index: 99;
      }

      .searchbar-md .searchbar-input {
          direction: rtl;
          border-radius: 20px;
      }
}