<ion-fab>
  <button ion-fab mini menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
</ion-fab>

<ion-content class="no-scroll">
  <map *ngIf="map_mode" [objects]="objects" [centerPosition]="centerPosition"></map>
  <ion-searchbar placeholder="חיפוש" class="floating-searchbar"></ion-searchbar>
  <ion-fab right bottom>
    <button ion-fab mini (click)="toggle_view_options()">
      <ion-icon *ngIf="map_mode" name="list"></ion-icon>      
      <ion-icon *ngIf="!map_mode" name="map"></ion-icon>      
    </button>
  </ion-fab>
</ion-content>
