<ion-header>
  <ion-navbar>
    <ion-searchbar placeholder="חיפוש" class="floating-searchbar" (click)="handleStartSearch()"></ion-searchbar>
  </ion-navbar>
  <ion-toolbar>
      <ion-segment [(ngModel)]="activeTab">
        <ion-segment-button value="map" (click)="toggleToMap()">
          <ion-icon name="map"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="list" (click)="toggleToList()">
          <ion-icon name="list"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
  <map-view *ngIf="activeTab != 'list'" 
    [locations]="locations" [centerCoords]="centerCoords" [currentLocation]="currentLocation"
    (onMoveToCurrCoordsRequest)="moveToCurrentCoordinates()" 
    (onLocationClicked)=[onLocationClicked($event)]></map-view>
  <list-view *ngIf="activeTab === 'list'"></list-view>
  
  <ion-fab right bottom>    
    <button ion-fab mini (click)="addNewContent()">      
      <ion-icon name="add"></ion-icon>      
    </button>
  </ion-fab>
</ion-content>