<ion-content scroll="true">
  <ion-card *ngFor="let synagogue of SynagogueList">
    <ion-card-content>
        <ion-card-title>
            {{synagogue.synagogueName}}
            </ion-card-title>
          <p>
            תפילת {{synagogue.soonMinyanType}}
            תחל בשעה: {{synagogue.soonMinyanTime}}
          </p>
    </ion-card-content>
      <ion-row >
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="clock"></ion-icon>
          <div>{{synagogue.lastUpdatedTime}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="map"></ion-icon>
          <div>{{synagogue.distanceString}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="navigate"></ion-icon>
          <div>נווט</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>